.genre-list-cont {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    cursor: pointer;
}

table {
    cursor: pointer;
}

.genre-list-cont > ul {
    width: 90%;
}

th > img {
    width: 10rem;
    object-fit: fill;
}

.row > input {
    outline: none;
}

.no-favorite {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width : 435px){
    .mobile-view {
        margin-left: 12.5px;
    }
}