.all-cards-container {
    height: 75vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.single-movie-card {
    height: 30rem;
    width: 25rem;
}

.single-card-body {
    overflow: scroll;
}

.single-card-body::-webkit-scrollbar {
    display: none;
}

.card-body {
    color: black;
}

.single-movie-card > img {
    object-fit: contain;
}

.page-navigation {
    flex-basis: 100%;
    height: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}